/* Add CSS styling here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border: 1px solid grey;
}

.headerDiv {
  border: 3px solid aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.headerDiv h1 {
  margin-bottom: 100px;
  font-size: 40px;
  color: blue;
}
.nav {
  margin-bottom: 20px;
}

.nav button {
  border-radius: 10%;
  background-color: turquoise;
  color: white;
  margin: 20px;
}
.Introduction {
  text-align: center;
}
.Introduction h2 {
  color: purple;
}
.Introduction p {
  color: navy;
}
.projectGallery {
  display: flex;
  flex-direction: row;
}
