/* Add CSS styling here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border: 1px solid grey; /*Remove before submitting project*/
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.headerDiv {
  border: 3px solid aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.headerDiv h1 {
  margin-bottom: 100px;
  font-size: 40px;
  color: blue;
}
.nav {
  margin-bottom: 20px;
}

.nav button {
  border-radius: 10%;
  background-color: turquoise;
  color: white;
  margin: 20px;
}
.Introduction {
  text-align: center;
}
.Introduction h2 {
  color: purple;
}
.Introduction p {
  color: navy;
}
.projectGallery {
  display: flex;
  flex-direction: row;
}
